*
!.gitignore
!*/
!*.cpp
!*.cxx
!*.c
!*.cc
!*.hpp
!*.h
!*.vcproj
!*.sln
!.**/*.cpp
!.**/*.cxx
!.**/*.c
!.**/*.cc
!.**/*.hpp
!.**/*.h
!.**/*.vcproj
!.**/*.sln
!**/*.srv
!**/*.txt
!**/*.xml
*.png
build/
logWithQt/
cubeParse/
rubik_cube_solve/
