[submodule "rubik_cube_solve"]
	path = rubik_cube_solve
	url = https://github.com/StoneRobot/rubik_cube_solve.git
[submodule "logWithQt"]
	path = logWithQt
	url = https://github.com/CaffeMrDe/logWithQt.git
[submodule "grasp_place"]
	path = grasp_place
	url = https://github.com/StoneRobot/grasp_place.git
[submodule "rb_ui"]
	path = rb_ui
	url = https://github.com/wangneng666/rb_ui.git
